@import "themes.css";
@import "layout.css";

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', 'Raleway', 'Open Sans';
}

.content {
  margin: 0 200px;
  padding-top: 90px;
  padding-bottom: 16px;
  word-wrap: break-word;
}
@media screen and (max-width: 1000px) {
  .content {
    margin: 0 48px;
  }
}

.nav-box {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
}

nav {
  background-color: var(--navbar-color);
  filter: drop-shadow(0 5px 4px #000);
  border-radius: 12px;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.nav-btn {
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 17px;
  white-space: nowrap;
}
.nav-btn:hover {
  background-color: #ffffff47;
}

.nav-selected {
  border-bottom: 3px solid whitesmoke;
  padding-bottom: 2px;
  border-radius: 6px 6px 0 0;
}

.card {
  background-color: var(--card-color);
  filter: drop-shadow(0 3px 3px #000);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 800px;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 400px;
  }
}

.card-small {
  width: 325px;
}

.card-content {
  padding: 20px;
}

.card-cover {
  height: 320px;
  overflow: hidden;
}
.card-cover img {
  object-fit: cover;
  object-position: top;
  min-height: 100%;
}

.card-actions {
  display: flex;
  flex-grow: 1;
  align-items: end;
}

.card .avatar {
  background-color: #222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.card .avatar img {
  width: 100%;
  height: 100%;
}
.card .subtitle {
  font-size: 15px;
  font-weight: 100;
}